/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */

.cf {
    *zoom: 1;
}

a {
    text-decoration: none;
    display: inline-block;
    background-color: blue;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}

a:hover {
    background-color: red;
}

.container {
    margin: auto;
    width: 600px;
}

span {
    margin-bottom: 50px;
    display: block
}

.satu {
    width: 100px;
    height: 200px;
    background-color: rebeccapurple;
    float: left;
}

.dua {
    width: 300px;
    height: 200px;
    background-color: salmon;
    float: left;
}

.tiga {
    width: 100px;
    height: 200px;
    background-color: lightgreen;
    float: left;
}

.flow3 {
    border: 5px solid saddlebrown;
}


/* ini menggunakann micro creflix yang lebih effesien */