div{
    margin: 30px auto;
    height: 100px;
    width: 100px;
}
.satu{
    /* border: 5px solid black; */
    background-color: salmon;
    transition: 2s;
}
.satu:hover{
    background-color: white;
    transform: rotate(45deg);
    border: 5px solid blue;
    border-radius: 50%;
}
.dua{
    background-color: blue;
   transition: 1s;
}
.dua:hover{
    transform: rotate(360deg);
}
.tiga{
    background-color: green;
}